<button {{action "zoomIn"}} class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="przybliżanie" data-container="body"><i class="fa fa-search-plus"></i></button>
<button {{action "zoomOut"}} class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="oddalanie" data-container="body"><i class="fa fa-search-minus"></i></button>
<button {{action "zoomExtent"}} class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="pokazanie całej mapy" data-container="body"><i class="fa fa-arrows-alt"></i></button>
