<div id="map" style="width: 600px; height: 400px; border: 1px solid black"></div>
<script>
    //        proj4.defs("EPSG:2173","+proj=sterea +lat_0=53.58333333333334 +lon_0=17.00833333333333 +k=0.9998 +x_0=3501000 +y_0=5999000 +ellps=krass +towgs84=33.4,-146.6,-76.3,-0.359,-0.053,0.844,-0.84 +units=m +no_defs");
    proj4.defs("EPSG:2180","+proj=tmerc +lat_0=0 +lon_0=19 +k=0.9993 +x_0=500000 +y_0=-5300000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs");
    var extent = [174755, 664665, 208882, 685765];
    var projection = new ol.proj.Projection({
        code: 'EPSG:2180',
        extent: extent
    });

    var layers = [
        new ol.layer.Image({
            extent: extent,
            source: new ol.source.ImageWMS({
                url: "http://hubert.systherm-info.pl/mapserver/swinoujscie-vista",
                //crossOrigin: 'anonymous',
                params: {
                    'LAYERS': 'obreby',
//                        'FORMAT': 'image/png'
                    'VERSION': '1.1.1'
                },
                serverType: /** @type {ol.source.wms.ServerType} */ ('mapserver')
            })
        })
    ];



    var map = new ol.Map({
        controls: new ol.Collection([new ol.control.ScaleLine()]),
        layers: layers,
        target: 'map',
        view: new ol.View({
            projection: projection,
            center: ol.proj.fromLonLat([14.2475, 53.907778], projection),
            extent: extent,
            zoom: 2
        })
    });
</script>