<button id="map-tool-zoom-in" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="przybliżanie" data-container="body">
    <i class="fa fa-search-plus"></i></button>
<button id="map-tool-zoom-out" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="oddalanie" data-container="body">
    <i class="fa fa-search-minus"></i></button>
<button id="map-tool-zoom-extent" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="pokazanie całej mapy" data-container="body">
    <i class="fa fa-arrows-alt"></i></button>

